# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other
src/components/NavbarResponsive.jsx
src/components/PlayingAnimation.jsx
src/components/SpotifyAPI.jsx
src/components/SpotifyLogo.jsx
src/components/SpotifyNowPlaying.jsx
.env
